
.border
{
background-color:#182C4F;
color:white;
}
.scroll
{
overflow-Y:scroll;
height:720px;
}
.logo:hover
{
	color:white;
}

.banner
{
background-size:cover;
background-image:url("../images/bg.avif");
background-position:center;
background-repeat:no-repeat;
height:100vh;
display:flex;
align-items:center; 
}
.welcome-section
{
color:white;
padding:120px 60px;
}
.typing{
overflow:hidden;
white-space:nowrap;
border-right:3px solid white;
animation: typing 4s  forwards infinite;
}

@keyframes typing{
from{width:0}
to{width:250px}
}

.side-menu
{
background-color:#1C3461;
color:white;
}
li
{
padding:20px;
color:#A8A9B4;
}
ul
{
list-style-type:none;
}
li:hover
{
color:white;
}
body
{
font-family:raleway;
font-size:18px;
margin:0px;
padding:0px;
}
.mtb
{
margin-top:15px;
margin-bottom:15px;
}
.img-size
{
width:100px;
padding:10px;
}
.clr
{
color:#A8A9B4;
}
.txt
{
color:white;
}
.resume
{
background-color:#1C3461;
padding:30px;
margin-top:30px;
color:white;
}

.header{
text-align:center;
}

.header h1{
margin-bottom:5px;
}

.section{
margin-top:25px;
}

.point{
margin-left:10px;
}

a{
text-decoration:none;
color:#A8A9B4;
}
a:hover
{
color:white;
text-decoration:none;
}
.contact-box
{
padding:20px;
color:black;
width:100%;
}
.contact-section
{
margin:20px;
border-radius:5px;
background-color:#1C3461;
color:white;
}
.img-map
{
height:250px;
width:100%;
}
.mg
{
margin:20px;
}
.portfolio-section
{
padding:10px;
border-radius:5px;
background-color:#1C3461;
color:white;
}
.project-section
{
margin:20px;
border-radius:5px;
background-color:#1C3461;
color:white;
}
.mb
{
margin-bottom:10px;
}
.border-heading
{
border-bottom:2px solid white;
display: inline-block;
padding-bottom: 5px;
}
.skill
{
background-color:#1C3461;
color:white;
padding:10px;
}
.progress{
background-color:#DFE5E7;
height:15px;
width:100%;
}

.progress-bar{
height:15px;
background-color:#149DDD;
}
.html
{
width:95%;
}
.css
{
width:90%;
}
.bootstrap
{
width:80%;
}
